

.navigation, .content{
    height: 300px;
}


.card{
    position: relative;
}

.bg-dark {
    background-color: #212529 !important;
}


.container{
    max-width: 1320px !important;
}

.feature{
    position: absolute;
    top: -15%;
    left: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.fs-4{
    font-size: 1.5rem !important;
}

.fw-bold{
    font-weight: 700 !important;
}